<%- include('./partials/header') %>

<div class="wrapper">
<div class="container mt-5">
    <h1 class="display-4 mb-4">Our Green Energy Solutions</h1>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                            Learn More <i class="fas fa-arrow-right ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<%- include('./partials/footer') %>