<%- include('./partials/header') %>

<div class="container my-5">
    <h1 class="mb-4">Schedule a Consultation</h1>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Select Day</label>
                               
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Select Time</label>
                               
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Your Name</label>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                        </div>
                        
                        <button type="submit" class="btn btn-success">Schedule Appointment</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Why Schedule With Us?</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Free, no-obligation consultation</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>